.Header{
    height: 83px;
    width: 100%;
    background: #374687;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Container{
    height: 100%;
    width: 980px;
    display: flex;
    align-items: center;
}

.Logo {
    flex-direction: row;
    display: flex;
    float: left;
}

.MenuNavigation{
    flex-grow: 1;
    float: right;
}
.MenuNavigation ul{
    list-style: none;
    float: right;
    display: inline-flex;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.MenuNavigation ul li{
    height: 23px;
    border-left: 1px solid #D8BDE2;
    margin-left: 12px;
    padding-left: 12px
}
.MenuNavigation ul li:first-child{
    border-left: 0;
    padding-left: 0;
    margin-left: 12px;
}
.MenuNavigation ul li:last-child{
    margin-right: 12px;
    /*padding-right: 6px;*/
}

.NavItemMenu {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
.NavItemMenu div{
    padding: 0 5px;
    padding-top: 2px;   /*fez o texto mais centalizado, porem nao é forma correta*/
    width: 100%;
    height: 100%;
    text-align: center;
    font: bold 14px/1.4em Arial, Helvetica, sans-serif;
}

.IconeUser {
    display: flex;
}