.Header {
    height: 83px;
    width: 100%;
    background: #374687;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
}

.Container {
    height: 100%;
    width: 980px;
    max-width: 980px;
    display: flex;
    align-items: center;
}

.Logo {
    margin-inline-start: 16px;
    align-self: center;
    justify-self: flex-start;
}

.IconeUser {
    margin-inline-end: 27px;
    margin-inline-start: 10px;
    object-fit: contain;
}

.Logo {
    display: flex;
    float: left;
}

.MenuNavigation {
    flex-grow: 1;
    float: right;
    text-align: center;
    font: bold 13px/1.4em Merriweather, Helvetica, sans-serif;
}

.MenuNavigation ul {
    list-style: none;
    float: right;
    display: inline-flex;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.MenuNavigation ul li {
    height: 23px;
    border-left: 1px solid #D8BDE2;
    margin-left: 10px;
    padding-left: 10px;
}

.MenuNavigation ul li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 10px;
}

.MenuNavigation ul li:last-child {
    margin-right: 10px;
    /*padding-right: 6px;*/
}

.NavItemMenu {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.NavItemMenu span {
    padding: 0 5px;
    /*padding-top: 2px; /*fez o texto mais centalizado, porem nao é forma correta*/
    padding-top: 0.25em;

    width: 100%;
    height: 100%;
}

.IconeUser {
    display: flex;
}