.SliderArrowIcon {
    object-fit: contain;
    width: 13px;
    height: 13px;
}

.Slider {
    height: 410px;
    background-color: antiquewhite;
}

.Slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SlideLefttSide{
    flex-grow: 1;
    height: 100%;
}

.SlideMiddle {
    width: 980px;
}

.SlideRightSide{
    flex-grow: 1;
    height: 100%;
}

.SlideMiddle > img {
    object-fit: contain;
    float: right;
}

/*daqui pra baixo são os valores padrão do css pego no github do plugin. Mas com pequenas alterações ( ex: .previousButton)*/

.slider {
    position: relative;
    width: 100%;
    overflow: hidden
}

.slider a.previousButton, .slider a.nextButton {
    font-size: 22px;
    line-height: 0;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 1;
    color: #333;
    padding: 10px;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
    /* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
    /*-webkit-transform: translateY(-50%) scale(1.25);
    transform: translateY(-50%) scale(1.25);*/
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

/*alterados*/

@supports (left: max(1px, 2px)) {
    .slider a.previousButton {
        left: max(100px, calc((100% - 1610px)/2));
    }
    .slider a.nextButton {
        right: max(100px, calc((100% - 1610px)/2));
    }
}
@supports not (left: max(1px, 2px)) {
    .slider a.previousButton {
        left: calc((100% - 1610px)/2);
    }
    .slider a.nextButton {
        right: calc((100% - 1610px)/2);
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden
}

.slide.hidden {
    visibility: hidden;
}

.slide.previous {
    left: -100%;
}

.slide.current {
    left: 0;
}

.slide.next {
    left: 100%;
}

.slide.animateIn, .slide.animateOut {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.slide.animateIn.previous, .slide.animateIn.next {
    left: 0;
    visibility: visible;
}

.slide.animateOut.previous {
    left: 100%;
}

.slide.animateOut.next {
    left: -100%;
}